@using RePlays.Utils
@using RePlays.Classes.RazorTemplates.Components
@using static RePlays.Utils.Functions;

@code {
	[Parameter]
	public string game { get; set; }
	[Parameter]
	public string sortBy { get; set; }
	[Parameter]
	public bool isRePlaysWebView { get; set; }
}

@{
	VideoList videoList = GetAllVideos(game, sortBy, true, isRePlaysWebView);
}

<div hx-swap-oob="innerHTML:#sessions-page">
    <div class="flex flex-col h-full">
        <header class="py-5 bg-gray-700">
            <VideoSortControls games="@videoList.games" size="@videoList.sessionsSize" game="@game" sortBy="@sortBy" />
        </header>
        <main class="flex-1 overflow-y-auto p-5 scroll-smooth">
            <div id="sessionsList" class="gap-x-8 gap-y-8 grid grid-flow-row sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
                @foreach (var video in videoList.sessions) {
                    <VideoCard folder="@video.folder" game="@video.game" thumbnail="@video.thumbnail" />
                }
            </div>
        </main>
    </div>
</div>

<div hx-swap-oob="innerHTML:#clips-page">
    <div class="gap-x-8 gap-y-8 grid grid-flow-row sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
        @foreach (var video in videoList.clips) {
            <VideoCard folder="@video.folder" game="@video.game" thumbnail="@video.thumbnail" />
        }
    </div>
</div>